/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.font-raleway-thin {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 100 !important;
}
.font-raleway-extra-light {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 200 !important;
}
.font-raleway-light {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300 !important;
}
.font-raleway-regular {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400 !important;
}
.font-raleway-medium {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400 !important;
}
.font-raleway-semi-bold {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600 !important;
}
.font-raleway-bold {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400 !important;
}
.font-alegreya-sans {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 100;
}
html,
body {
  font-size: 15px;
  height: 100%;
}
body {
  font-family: "Raleway", serif;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  background-color: #2C3E4E;
  font-style: normal;
}
canvas {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#main-container {
  margin-top: 20px;
}
*:focus {
  outline: 0;
}
#title {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 100;
  font-size: 48px;
  width: 650px;
  border-radius: 6px;
  border: 1px solid #f1c40f;
  text-align: center;
  line-height: 1.2;
  color: #95a5a6;
  margin-bottom: 15px;
  margin-left: 1.5%;
}
input[type=range] {
  -webkit-appearance: none;
  background-color: #beede4;
  border-radius: 2px;
  height: 5px;
  width: 70px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #1abc9c;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}
input[type="color"] {
  width: 20px;
  height: 20px;
}
#drawingtool-container {
  width: 880px !important;
  margin: 0 auto !important;
}
#right-panel {
  width: 200px !important;
  margin-left: 20px;
  margin-top: 50px;
  padding: 0 !important;
}
.menu .sixteen.wide.column {
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.settings.ui.vertical.small.menu {
  width: 100% !important;
}
.nu-interface .small.label {
  width: 100%;
  text-transform: none;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 200 !important;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
  color: white;
  line-height: 0.5;
  border-radius: 0.125em;
}
#label-drawing-mode-menu {
  background-color: #1abc9c;
}
#label-piece-menu {
  background-color: #3998db;
}
#label-tool-menu {
  background-color: #f39c12;
}
#label-editor-menu {
  background-color: #9b59b6;
}
#label-color-menu {
  background-color: #c0392b;
}
.action .item.active {
  -webkit-box-shadow: 0em 0.2em 0em inset !important;
  box-shadow: 0em 0.2em 0em inset !important;
}
.left.action.ui.vertical.small.icon.menu,
.right.action.ui.vertical.small.icon.menu {
  width: 100%;
}
.action.column {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.left.action.ui.vertical.small.icon.menu {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.right.action.ui.vertical.small.icon.menu {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.nu-interface .menu.row {
  margin-top: 0px;
  padding-top: 4px;
}
#advanced-toggle {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 200 !important;
  font-size: 15px;
  color: white;
  text-align: right;
  cursor: pointer;
}
#advanced-toggle-chevron {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.nu-interface .settings input[type=range] {
  float: left;
  height: 5px;
  width: 8.5em;
}
.nu-interface .settings input[type="range"]::-webkit-slider-thumb {
  background-color: #2ecc71;
}
.top-toolbar .ui.menu {
  font-weight: 100;
  width: 650px;
  margin-bottom: 12px;
  background-color: #f39c12;
}
