html,
body {
  font-size: 15px;
  height: 100%;
}
body {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}
#main-container {
  max-width: 1000px;
}
