html,
body {
  font-size: 15px;
  height: 100%;
}
body {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #ecf0f1;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}
canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}
#main-container {
  margin-top: 60px;
}
#drawingtool-container {
  width: 1000px !important;
  margin: 0 auto !important;
}
*:focus {
  outline: 0;
}


#right-panel {
  margin-top: 50px;
}
.right.action.column {
  margin-left: -1em;
}
.action .item.active {
  -webkit-box-shadow: 0em 0.2em 0em inset !important;
  box-shadow: 0em 0.2em 0em inset !important;
}
.action.ui.vertical.small.icon.menu {
  width: 6.6rem;
}
.left.action.ui.vertical.small.icon.menu {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.right.action.ui.vertical.small.icon.menu {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.nu-interface .menu.row {
  margin-top: 0px;
  padding-top: 6px;
}
.nu-interface .settings-label-container {
  margin-top: 0;
  padding-top: 6px;
}
.settings.ui.vertical.small.icon.menu {
  font-size: 1em;
  width: 13.5em;
}
.checkbox-container.item {
  text-align: left !important;
}
.interface-opacity-slider input[type="range"]::-webkit-slider-thumb {
  background-color: #2ecc71;
}
.nu-interface .settings input[type=range] {
  float: left;
  height: 5px;
  width: 8.5em;
}
.bottom-menu-container .ui.menu {
  width: 700px;
  margin-bottom: 15px;
}


input[type=range] {
  -webkit-appearance: none;
  background-color: #beede4;
  border-radius: 2px;
  height: 5px;
  width: 70px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #1abc9c;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}
