html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #ecf0f1;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#main-container {
  margin-top: 60px;
}

#drawingtool-container {
  width: 1000px !important;
  margin: 0 auto !important;
}

*:focus {
    outline: 0;
}
