// INTERFACE CONTAINER
// Tigten the vertical spacing between the labels and the stuff under them
#drawingmode-container {
  margin-top: 1.5%;
}

/// ACTION MODE ICON CONTAINER
.right.action.column {
  margin-left: -1em;
}
// ACTION MODE ICONS MENU
.action .item.active {
  -webkit-box-shadow: 0em 0.2em 0em inset !important;
  box-shadow: 0em 0.2em 0em inset !important;
}

.action.ui.vertical.small.icon.menu {
  width: 6.6rem;
}
.left.action.ui.vertical.small.icon.menu {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.right.action.ui.vertical.small.icon.menu {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.nu-interface .menu.row {
  margin-top: 0px;
  padding-top: 6px;
  margin-left: -2px;
}
.nu-interface .settings-label-container  {
  margin-top:0;
  padding-top:6px;
}
/////////////////////////////////////////////////
// SETTINGS SECTION
////////////////////////////////////////////////
// widen the menu
.settings.ui.vertical.small.icon.menu {
  font-size: 1em;
  width: 13.5em;
}

// Checkbox are left aligned
.checkbox-container.item {
  text-align: left !important;
}

// Slider color
.interface-opacity-slider input[type="range"]::-webkit-slider-thumb {
  background-color: rgba(46, 204, 113,1.0);
}
.nu-interface .settings input[type=range] {
    float:left;
    height: 5px;
    width: 8.5em;
}

//// BOTTOM MENU
.bottom-menu-container .ui.menu {
  width: 700px;
  margin-bottom: 5px;
}
