// INTERFACE CONTAINER
//
.interface .ui.ribbon.small.label {
  left: -15px;
  margin-left: 0em;
}
.interface .ui.vertical.small.icon.menu {
  width: 6rem;
  margin-left: 1rem;
}

// SETTINGS SECTION
.interface .settings.ui.vertical.small.icon.menu {
  font-size: 1em;
  width: 14rem;
}
.interface .settings .item {
  float: left;
  padding-left: 5px;
  width: 100%;
}
.interface .settings .slider-label {
  display: block;
  float: right;
  width: 75px;
}
// CHECKBOX
.settings .ui.toggle.checkbox {
  top: 1em;
  left: 1em;
  height: 40px;
}

// SLIDER
//
.interface-opacity-slider input[type="range"]::-webkit-slider-thumb {
  background-color: rgba(46, 204, 113,1.0);
}
.interface .settings input[type=range] {
    -webkit-appearance: none;
    background-color: rgb(200, 200, 200);
    height: 5px;
    width: 105px;
}

